.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

.chart {
  width: 100%;
  margin: 16px 0 32px 0;
  border: 0.05rem solid #ccc;
}

header {
    font-family: Prata, serif;
    background: -webkit-linear-gradient(90deg,rgb(96, 47, 124) 0%, rgb(183, 97, 164) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
}

body {
    color: #2b2b2b;
}

h1 {
      font-family: "Prata", serif;
}

h2 {
    font-family: "Prata", serif;
}

h3 {
    font-family: "Inter", sans-serif;
}
.listText {
    font-family: "Inter", sans-serif;
}